
  

<!-- <select class="str-outer" ng-init="Select Strategy = options[0]" ng-model="selectedName"  ng-options="x for x in names">
<option value=""></option>
</select> -->
<nav id="header" class="navbar">
            <div id="header-container" class="container navbar-container" style="background-color:#fff">
                <div class="navbar-header">
                    <a id="brand" class="navbar-brand" href="#">
                    <img src="img/logo.png" width="4%" alt="MyCredit LOGO" />My Credit</a>
                    <!---div class="username">
                      hi, Harshdeep !
                    </div--->
                </div>
            </div><!-- /.container -->
</nav><!-- /.navbar -->
<div class="container">
 <div class="row">
	  <div class="tabs-start">
	<div class="col-md-4 padding-0">
		<div class="tab-out">
			<p class="st1">Strategies</p>
		</div>
	</div>
	<div class="col-md-4 padding-0">
		<div class="tab-out">
			<p>Market View</p>
		</div>
	</div>
	<div class="col-md-4 padding-0">
		<div class="tab-out">
			<p>Portfolio</p>
		</div>
	</div>
</div>
<div class="col-md-2">
<div class="selec-outer">
    <select class="selectpicker">
  <option>Strategies</option>
  <option class="special">New</option>
  <option style="background: #C7C321; color: #fff;">Existing</option>
</select>
</div>
</div>
<div class="col-md-10">
 <div class="new-str">
    <h1> New Strategies</h1>
	  <h5>Chose or Create New Strategies</h5>
 </div>
</div>

       <div class="outer">
        <div class="col-md-4 col-md-push-2 col-xs-12 col-sm-10 padding-0 abc">
						   <div class="abc-inner">
						    <div class="hed-outer">  
							   <h2>Bulid</h2>
							   <h3>Custom</h3>
							   <h4>Stratergy</h4>
						   </div>
						   </div>
        </div>
		
		 <div class="col-md-6 col-md-push-2 col-xs-12 col-sm-10 padding-0 abc">
		             <div class="abc-inner">
					      <div class="hed-outer">  
							   <h2>Choose</h2>
							   <h3>Custom</h3>
							   <h4>Stratergy</h4>
						   </div>
					 </div>
        </div>
		</div>

    
</div>








