
    <script src="js/angular.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/nv.d3.js"></script>
    <script src="../dist/angularjs-nvd3-directives.js"></script>
    <link rel="stylesheet" href="stylesheets/nv.d3.css"/>
    


<!-- <select class="str-outer" ng-init="Select Strategy = options[0]" ng-model="selectedName"  ng-options="x for x in names">
<option value=""></option>
</select> -->

<nav id="header" class="navbar">
            <div id="header-container" class="container navbar-container" style="background-color:#fff">
                <div class="navbar-header">
                    <a id="brand" class="navbar-brand" href="#">
                    <img src="img/logo.png" width="4%" alt="MyCredit LOGO" />My Credit</a>
                    <!---div class="username">
                      hi, Harshdeep !
                    </div--->
                </div>
            </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="col-md-12 fleft">
 <div class="row">
	  <div class="tabs-start">
	<div class="col-md-4 padding-0">
		<div class="tab-out">
			<p class="st1">Strategies</p>
		</div>
	</div>
	<div class="col-md-4 padding-0">
		<div class="tab-out">
			<p>Market View</p>
		</div>
	</div>
	<div class="col-md-4 padding-0">
		<div class="tab-out">
			<p>Portfolio</p>
		</div>
	</div>
</div>
<div class="col-md-12">
<div class="col-md-2">
<div class="selec-outer">
    <select class="selectpicker">
  <option>Strategies</option>
  <option class="special">New</option>
  <option style="background: #C7C321; color: #fff;">Existing</option>
</select>
</div>
</div>
</div>

    <!-- <nvd3-discrete-bar-chart
            data="exampleData"
            id="exampleId"
            width="400"
            height="400"
            tooltips="true"
            showXAxis="true"
            showYAxis="false"
            showValues="true">
        <svg></svg>
    </nvd3-discrete-bar-chart> -->
	
	<!-- <nvd3-discrete-bar-chart
            data="exampleData"
            id="exampleId1"
            width="400"
            height="400"
            tooltips="true"
            showXAxis="true"
            showYAxis="false"
            showValues="true">
        <svg></svg>
    </nvd3-discrete-bar-chart> -->
	
	<!-- <nvd3-discrete-bar-chart
            data="exampleData"
            id="exampleId2"
            width="400"
            height="400"
            tooltips="true"
            showXAxis="true"
            showYAxis="false"
            showValues="true">
        <svg></svg>
    </nvd3-discrete-bar-chart> -->
	
	<!-- <nvd3-discrete-bar-chart
            data="exampleData"
            id="exampleId3"
            width="400"
            height="400"
            tooltips="true"
            showXAxis="true"
            showYAxis="false"
            showValues="true">
        <svg></svg>
    </nvd3-discrete-bar-chart> -->
	<div class="contain">
        <div class="outer">
			<div class="col-md-4 col-xs-12 col-sm-10 padding-0 abc" >
				 <div class="abc-inner1">
				  <div class="col-md-12 fleft">
				  <table class="table">
    <tbody>
      <tr>
        <td>Return</td>
        <td>Volatility</td>
        <td>5th (Percentile)</td>
      </tr>
      <tr class="strong-tr">
        <td>X%</td>
        <td>V%</td>
        <td>P%</td>
      </tr>
    </tbody>
  </table>
				 </div>
							<nvd3-discrete-bar-chart
								data="exampleData"
								id="exampleId"
								width="400"
								height="350"
								tooltips="true"
								showXAxis="true"
								showYAxis="false"
								showValues="true">
							<svg></svg>
						   </nvd3-discrete-bar-chart> 
				  <h2>Lucky</h2>
				</div>			 
			</div>


            <div class="col-md-4 col-xs-12 col-sm-10 padding-0 abc">
						 <div class="abc-inner1">
						  <div class="col-md-12 fleft">
				  <table class="table">
    <tbody>
      <tr>
        <td>Return</td>
        <td>Volatility</td>
        <td>5th (Percentile)</td>
      </tr>
      <tr class="strong-tr">
        <td>X%</td>
        <td>V%</td>
        <td>P%</td>
      </tr>
    </tbody>
  </table>
				 </div>
						<nvd3-discrete-bar-chart
						data="exampleData"
						id="exampleId1"
						width="400"
						height="350"
						tooltips="true"
						showXAxis="true"
						showYAxis="false"
						showValues="true">
						<svg></svg>
					
						</nvd3-discrete-bar-chart>
						  <h2>Strike</h2>
						</div>
				
			</div>

              <div class="col-md-4 col-xs-12 col-sm-10 padding-0 abc">
						  <div class="abc-inner1">
						   <div class="col-md-12 fleft">
				  <table class="table">
    <tbody>
      <tr>
        <td>Return</td>
        <td>Volatility</td>
        <td>5th (Percentile)</td>
      </tr>
      <tr class="strong-tr">
        <td>X%</td>
        <td>V%</td>
        <td>P%</td>
      </tr>
    </tbody>
  </table>
				 </div>
						  <nvd3-discrete-bar-chart
						data="exampleData"
						id="exampleId2"
						width="400"
						height="300"
						tooltips="true"
						showXAxis="true"
						showYAxis="false"
						showValues="true">
					<svg></svg>
				</nvd3-discrete-bar-chart>
						   <h2>Random</h2>
						  </div>
						  
              </div>
			  
			  <div class="col-md-4 col-xs-12 col-sm-10 padding-0 abc">
						   <div class="abc-inner1">
						    <div class="col-md-12 fleft">
				  <table class="table">
    <tbody>
      <tr>
        <td>Return</td>
        <td>Volatility</td>
        <td>5th (Percentile)</td>
      </tr>
      <tr class="strong-tr">
        <td>X%</td>
        <td>V%</td>
        <td>P%</td>
      </tr>
    </tbody>
  </table>
				 </div>
							<nvd3-discrete-bar-chart
						data="exampleData"
						id="exampleId3"
						width="400"
						height="300"
						tooltips="true"
						showXAxis="true"
						showYAxis="false"
						showValues="true">
					<svg></svg>
				</nvd3-discrete-bar-chart> 
						<h2>Bold</h2>
						</div>
						  </div>

        </div>
		</div>
    </div>
  </div>








