<div class="jumbotron">
<div class="text-center" style="padding:20px 0">
  <center>
    <div class="login_logo">
      <!---img src="img/logo.png" alt="My credit" width="10%" style="margin-bottom:2%;"/--->
	  <div class="logo">Login</div>
    </div>

    <!-- Main Form -->
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	
  	<div class="login-form-1">
  		<form name="form" ng-submit="login()" role="form" id="login-form" class="text-left">
  			<div class="main-login-form">
  				<div class="login-group">
            

<!-- Email field -->
            <div class="form-group">

              <div class="group" style="margin-top:5%;">
                <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
				<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label style="font-family:'Varela Round';">Email</label>
              </div>

  					</div>



<!-- Password field -->
	         <div class="form-group">

              <div class="group" style="margin-top:10%;">
                <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
				<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label style="font-family:'Varela Round';">Password</label>
              </div>

			  
			  <div class="group">
            <center><button type="submit" class="login-button-1" style="float:none;" >
              Sign In</button></center>
          </div>
  			  </div>
 

  				</div>


         



  			</div>

  			<div class="etc-login-form not-mem">
  				<p>not a member? <a href="#/register"  style="color:#CFB53B;">Join Now</a></p>
  			</div>

  		</form>
  	 </div>
    </center>
  	<!-- end:Main Form -->
  </div>
  </div>